body {
    min-width: 1600px;
    margin: 0;
    padding: 0;
    font-family: "Inter", "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #ABABAB;
    background: center repeat url("../img/background-noise.png");  
    background-color: #131313;  
}

h2,
h3,
h4,
ul,
li {
    margin: 0;
    padding: 0;  
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.first-page-top {
    position: relative;
    margin: 401px 414px 330px 414px;
}

h2 {
    font-size: 80px;
    line-height: 97px;
    letter-spacing: 0.08em;
    color: #ffffff;
    font-weight: inherit;
}

.first-page-top::before {
    content: "Junior front-end developer";
    position: absolute;
    top: -49px;
    left: -150px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #ffffff;
} 

.first-page-top::after {
    content: "Petr Mavrin";
    position: absolute;
    bottom: -49px;
    right: -75px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.first-page-bottom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 180px 0;
    padding: 0; 
    list-style: none;
}

.first-page-bottom li {
    margin-right: 20px;
}

.first-page-bottom a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.first-page-bottom a:hover {
color: #ABABAB;
} 

.first-page-bottom a:active {
    color: #454545;
    } 

:root {
    --line:white;
    --line-active:#ABABAB; }

.first-page-bottom a svg {
    width: 90px;
    height: 45px;
    position: absolute;
    left: 30px;
    bottom: 0;
    -webkit-transform: translate(-50%, 7px) translateZ(0);
            transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 1px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    -webkit-transition: stroke 0.5s ease var(--stroke-delay, 0s), stroke-dasharray 0.75s;
    -o-transition: stroke 0.5s ease var(--stroke-delay, 0s), stroke-dasharray 0.75s;
    transition: stroke 0.5s ease var(--stroke-delay, 0s), stroke-dasharray 0.75s;  
}

.first-page-bottom li:first-child a svg {
    width: 132px;
    stroke-dasharray: var(--offset, 69px) 294px;
}

.first-page-bottom li:last-of-type a svg {
    stroke-dasharray: var(--offset, 69px) 260px;
}

.first-page-bottom a svg:hover {
    --stroke:var(--line-active);
    --stroke-delay:0.1s;
    --offset:190px; 
}

.first-page-bottom::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 1200px;
    border-bottom: 1px solid #454545;
}

.about-title {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-title::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -841px;
    width: 1200px;
    border-bottom: 1px solid #454545;
}

h3 {
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    font-weight: inherit;
}

.container-two {
    margin-left: 250px;
}

.about-text {
    margin-top: 60px;
    margin-bottom: 70px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: inherit;
}

.about-skills {
    margin-bottom: 269px;
}

.project-one,
.project-two,
.project-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.project-title {
    padding-top: 80px;
    padding-bottom: 30px;
}

.projects a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    -o-transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.projects a:hover {
    color: #ABABAB;
}

.projects a:active {
    color: #454545;
}

.project-templ h2{
    margin-top: 130px;
    position: relative;
}

.project-one h2 {
    margin-right: 237px;
}

.project-two h2 {
    margin-right: 356px;
}

.project-three h2 {
    margin-right: 342px;
}

.project-templ h2::before {
    position: absolute;
    left: -35px;
    top: -10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #ABABAB;
}

.project-one h2::before {
    content:"(01)";
}

.project-two h2::before {
    content:"(02)";
}

.project-three h2::before {
    content:"(03)";
}

.project-templ h2::after {
    position: absolute;
    left: -80px;
    top: 90px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #ABABAB;
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
    -o-transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
    transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.project-one h2::after {
    content:"HTML, CSS, Elastic layout";
}

.project-two h2::after {
    content:"HTML, CSS, Elastic layout";
}

.project-three h2::after {
    content:"HTML, CSS, JS, Elastic layout";
}

.project-one:hover h2::after,
.project-two:hover h2::after,
.project-three:hover h2::after{
    opacity: 1;
}

.project-image-border {
    position: relative;
}

.project-image {
    background: no-repeat contain;
    width: 399px;
    height: 231px;
    margin: 85px 15px 69px 0;
    display: inline-block;
    overflow: hidden;
}

.img-tmpl {
    margin-top: 0;
    background-color: white;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -o-object-fit: cover;
       object-fit: cover;
}

.img-tmpl:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.project-image-border::before {
    content:"";
    position: absolute;
    right: 0;
    top: 70px;
    width: 399px;
    height: 231px;
    border: 1px solid #ffffff;
    z-index: -1;
}

/*Scroll to top*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 34px;
    height: 29px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    background: rgba(171, 171, 171, 0);
    border: 1px solid #ffffff;
    display: none;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    cursor: pointer;
    padding: 0 10px;
}

.scroll-to-top:hover {
    background: rgba(171, 171, 171, 0.3);
}

.scroll-to-top-show {
    display: block;
}

@media screen and (min-width: 1280px) and (max-width:1599px) {

    body {
        min-width: 1280px;
    }

    .container {
        width: 880px;
    }

    .first-page-top {
        margin: 401px 0 330px 254px;
    }

    .first-page-top::after {
        right: 180px;
    }

    .first-page-bottom::after {
        width: 880px;
    }

    .about-title::after {
        width: 880px;
    }

    .container-two {
        margin-left: 186px;
    }

    .projects .container-two {
        margin-left: 55px;
    }

    .project-one h2 {
        margin-right: 109px;
    }
    
    .project-two h2 {
        margin-right: 228px;
    }
    
    .project-three h2 {
        margin-right: 214px;
    }

}

@media screen and (min-width: 1024px) and (max-width:1279px) {

    body {
        min-width: 624px;
    }

    .container {
        width: 624px;
    }

    .first-page-top {
        margin: 336px 0 243px 139px;
    }

    .first-page-bottom::after {
        width: 624px;
        bottom: -70px;
    }

    .about-title::after {
        width: 624px;
        bottom: -659px;
    }

    .first-page-top::after {
        right: 40px;
    }

    .first-page-bottom {
        margin: 0 0 150px 0;
    }

    .container-two {
        margin-left: 135px;
    }

    .about-text {
        margin-top: 60px;
        margin-bottom: 47px;
    }

    .about-skills {
        margin-bottom: 87px;
    }

    .project-templ h2{
        margin-top: 118px;
        font-size: 64px;
    }

    .project-image {
        width: 354px;
        height: 184px;
        margin: 81px 15px 69px 0;
    }

    .projects .container-two {
        margin-left: 0;
    }

    .project-one h2 {
        margin-right: 7px;
    }
    
    .project-two h2 {
        margin-right: 97px;
    }
    
    .project-three h2 {
        margin-right: 83px;
    }

    .project-image-border::before {
        width: 354px;
        height: 184px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    body {
        min-width: 368px;
    }

    .container {
        width: 368px;
    }

    .first-page-top {
        margin: 406px 0 338px 16px;
    }

    .first-page-top h2 {
        font-size: 72px;
    }

    .first-page-top::before {
        left: -90px;
        font-size: 18px;
        line-height: 22px;
    } 
    
    .first-page-top::after {
        right: -30px;
        font-size: 18px;
        line-height: 22px;
    }

    .first-page-bottom::after {
        width: 368px;
        bottom: -100px;
    }
    
    .about-title::after {
        width: 368px;
        bottom: -841px;
    }

    .first-page-bottom {
        margin: 0 0 180px 0;
    }

    .container-two {
        margin-left: 34px;
    }

    .about-text {
        margin-top: 60px;
        margin-bottom: 54px;
    }

    .about-skills {
        margin-bottom: 170px;
    }

    .project-image {
        width: 354px;
        height: 184px;
        margin: 81px 15px 0 0;
    }

    .project-three .project-image {
        margin-bottom: 69px;
    }

    .projects .container-two {
        margin-left: 0;
    }

    .container-two h2 {
        display: none;
    }

    .project-image-border::before {
        width: 354px;
        height: 184px;
    }
}

@media screen and (min-width: 360px) and (max-width:767px) {
    body {
        min-width: 308px;
    }

    .container {
        width: 308px;
    }

    .first-page-top {
        margin: 200px 0 220px 42px;
    }

    .first-page-top h2 {
        font-size: 48px;
    }

    .first-page-top::before {
        left: -45px;
        top: -20px;
        font-size: 16px;
        line-height: 15px;
    } 
    
    .first-page-top::after {
        right: 10px;
        bottom: -20px;
        font-size: 16px;
        line-height: 15px;
    }

    .first-page-bottom::after {
        width: 308px;
        bottom: -54px;
    }
    
    .about-title::after {
        width: 308px;
        bottom: -561px;
    }

    .first-page-bottom {
        margin: 0 0 104px 5;
        -webkit-box-pack: right;
            -ms-flex-pack: right;
                justify-content: right;
    }

    .first-page-bottom a {
        font-size: 20px;
    }

    .first-page-bottom a svg {
        margin-left: 5px;
    }
    
    .first-page-bottom li:last-of-type a svg {
        margin-left: 2px;
    }

    .container-two {
        margin-left: 0;
    }

    .about-title {
        margin: 0;
        margin-top: -70px;
    }

    .about-text {
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .about-skills {
        margin-bottom: 0px;
    }

    .container-two h2 {
        display: none;
    }

    .project-title {
        padding-bottom: 0px;
    }

    .project-image {
        width: 304px;
        height: 231px;
        margin: 81px 15px 0 0;
    }

    .project-three .project-image {
        margin-bottom: 69px;
    }

    .projects .container-two {
        margin-left: 0;
    }

    .project-image-border::before {
        width: 304px;
        height: 231px;
    }
}