body {
    min-width: 1600px;
    margin: 0;
    padding: 0;
    font-family: "Inter", "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #ABABAB;
    background: center repeat url("../img/background-noise.png");  
    background-color: #131313;  
}

h2,
h3,
h4,
ul,
li {
    margin: 0;
    padding: 0;  
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.container {
    width: 1200px;
    margin: 0 auto;
}

.first-page-top {
    position: relative;
    margin: 401px 414px 330px 414px;
}

h2 {
    font-size: 80px;
    line-height: 97px;
    letter-spacing: 0.08em;
    color: #ffffff;
    font-weight: inherit;
}

.first-page-top::before {
    content: "Junior front-end developer";
    position: absolute;
    top: -49px;
    left: -164px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #ffffff;
} 

.first-page-top::after {
    content: "Petr Mavrin";
    position: absolute;
    bottom: -49px;
    right: -75px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.first-page-bottom {
    position: relative;
    float: left;
    margin: 0 0 100px 0;
    padding: 0;
    list-style: none;
}

.first-page-bottom li {
    float: left;
    margin-right: 20px;
}

.first-page-bottom a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.first-page-bottom a:hover {
color: #ABABAB;
} 

.first-page-bottom a:active {
    color: #454545;
    } 

:root {
    --line:white;
    --line-active:#ABABAB; }

.first-page-bottom a svg {
    width: 90px;
    height: 45px;
    position: absolute;
    left: 30px;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 1px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.5s ease var(--stroke-delay, 0s), stroke-dasharray 0.75s;  
}

.first-page-bottom li:nth-of-type(3) a svg {
    width: 140px;
    stroke-dasharray: var(--offset, 69px) 294px;
}

.first-page-bottom li:last-of-type a svg {
    stroke-dasharray: var(--offset, 69px) 260px;
}

.first-page-bottom a svg:hover {
    --stroke:var(--line-active);
    --stroke-delay:0.1s;
    --offset:190px; 
}

.first-page-bottom::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 1200px;
    border-bottom: 1px solid #454545;
}

.about-title {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-title::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -841px;
    width: 1200px;
    border-bottom: 1px solid #454545;
}

h3 {
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    font-weight: inherit;
}

.container-two {
    margin-left: 250px;
}

.about-text {
    margin-top: 60px;
    margin-bottom: 70px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: inherit;
}

.about-skills {
    margin-bottom: 269px;
}

.project-title {
    padding-top: 80px;
}

.projects h2 {
    float: left;
}

.projects a {
    color: inherit;
    text-decoration: none;
}

.projects a:hover {
    color: #ABABAB;
}

.projects a:active {
    color: #454545;
}

.project-image {
    float: right;
}

.project-templ h2{
    margin-top: 133px;
    position: relative;
}

.project-templ h2::before {
    position: absolute;
    left: -35px;
    top: -10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #ABABAB;
}

.project-one h2::before {
    content:"(01)";
}

.project-two h2::before {
    content:"(02)";
}

.project-three h2::before {
    content:"(03)";
}

.project-templ h2::after {
    position: absolute;
    left: -93px;
    bottom: -20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #ABABAB;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.project-one h2::after {
    content:"HTML, CSS, Elastic layout";
}

.project-two h2::after {
    content:"HTML, CSS, Elastic layout";
}

.project-three h2::after {
    content:"HTML, CSS, Elastic layout";
}

.project-one:hover h2::after,
.project-two:hover h2::after,
.project-three:hover h2::after{
    opacity: 1;
}

.project-image-border {
    position: relative;
}

.project-image {
    background: no-repeat contain;
    width: 399px;
    height: 231px;
    margin: 85px 15px 69px 0;
    display: inline-block;
    overflow: hidden;
}

.img-tmpl {
    margin-top: 0;
    background-color: white;
    transition: 1s;
    object-fit: cover;
}

.img-tmpl:hover {
    transform: scale(1.1);
}

.project-image-border::before {
    content:"";
    position: absolute;
    right: 0;
    top: 70px;
    width: 399px;
    height: 231px;
    border: 1px solid #ffffff;
    z-index: -1;
}